html{
    height: 100vh;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    width: 360px;
    height: 460px;
        
    margin: auto;
    border: 1px solid #c4c4c4;
    padding: 1rem;
}

#display{
    border: 1px solid #c4c4c4;
    line-height: 120%;
    padding: .5rem;
}

button{
    padding: .7rem;
    border: 1px solid #c4c4c4;
    color: skyblue;
    margin: .5rem;
}